<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <title>BandMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/skeleton.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/myCss.css}" />

    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div>
            <form th:action="@{/message/1}" method="get">
                <button class="button-primary redirect u-pull-left" style="max-width: 15rem;">My messages</button>
            </form>
            <form th:action="@{/logout}" method="post">
                <button class="button-primary redirect u-pull-right" style="max-width: 15rem;">Sign Out</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="offset-by-four one-third column" style="margin-top:10%; text-align: center">
            <h2 style="display: inline-block; vertical-align: middle"> My messages </h2>
        </div>
    </div>
    <div class="container" style="margin-bottom:3rem" >
        <div class="row">
            <div style="box-shadow:0 2px 10px #606060; padding: 2rem; padding-bottom: 0rem; border-radius: 1rem">
                <div class="row">
                    <h4 th:text="${message.fromUser.nickName}" class="u-pull-left"> FromUser </h4>
                    <!-- Añadir imagen del ususario?-->
                    <!--<img th:src="@{'/images/'+${post.instrument.logoImageName}}" width="40px" height="40px" alt="Logo" class="u-pull-left" style="margin-left: 1rem"/>-->
                </div>
                <div class="row">
                    <!--<div style="box-shadow:0 2px 10px #606060; padding: 3rem; padding-bottom: 1rem; border-radius: 1rem">-->
                    <textarea readonly th:text="${message.content}" id="content" name="content" class="u-full-width" style="resize: none; margin-bottom:0rem; min-height:150px"></textarea>
                    <!--</div>-->
                </div>
                <div class="row">
                    <div class="offset-by-two-thirds one-third column">
                        <!--<a href="#" th:text="${post.user.name}" class="u-pull-right" id="userNamePost" th:onclick="'javascript:viewUserProfile(' + ${post.user.id} + ')'"> User Name </a>-->
                        <h5 th:text="${#dates.format(message.date, 'dd-MM-yyyy HH:mm')}" class="u-pull-right"> Date </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
 	function viewUserProfile(idUser){
		location.href="/viewProfile/"+idUser;
	};

	function nextPage(currentPage, lastPage){
		if(currentPage<lastPage){
			location.href="/message/"+(currentPage+1);
		}
	};

	function previousPage(currentPage){
		if(currentPage>1){
			location.href="/message/"+(currentPage-1);
		}
	};

	function removeMessage(idMessage){
        $.ajax({
            type: 'DELETE',
            url: '/message/'+idMessage,
            cache: false,
            success: function (result) {
                 $('#rowMessage'+idMessage).remove();
            }
        });
    };

        function readMessage(idMessage){

    };
</script>
</body>
</html>