<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>BandMe</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/css/skeleton.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/myCss.css}" />
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		 <div class="row">
			<div>
			  	<form th:action="@{/profile}" method="get">
					<button class="button-primary redirect u-pull-left" style="max-width: 15rem;">My profile</button>
			    </form>  
			   <form th:action="@{/logout}" method="post">
					<button class="button-primary redirect u-pull-right" style="max-width: 15rem;">Sign Out</button>
			    </form> 
			</div>	    
		 </div> 
		<div class="row">
	 		<div class="offset-by-four one-third column" style="margin-top:10%; text-align: center">
	 		<button onclick="location.href='/posts/1'" class="button-primary redirect centered" style="max-width: 15rem;">All Posts</button>
<!-- 	 		 	<form th:action="@{/posts}" method="get"> -->
<!-- 					<button class="button-primary redirect centered" style="max-width: 15rem;">All Posts</button> -->
<!-- 			    </form>  -->
<!-- 	 		 	<button style="background-image:url('/images/plus.png'); background-position: center;
 		 			background-repeat:no-repeat; width: 50px; height: 50px; padding: 1rem; margin-left: 1rem; */
 		 			background-size: contain;" class="redirect" onclick="location.href='/posts/addPost'"></button> -->
	 		</div>
 		</div>
		<div class="row">
			<div class="offset-by-three one-half column"
				style="box-shadow: 0 2px 10px #606060; padding: 3rem; padding-bottom: 1rem; border-radius: 1rem">
				<form th:action="@{/posts/addPost}" th:object="${post}" method="post" class="u-full-width" style="margin-top: 2rem">
					<label for="instruments">Instrument</label> 
					<input type="hidden" id="instrumentInput" name="instrument" required th:field="*{instrument}" >
					<select id="instruments" required name="instrumentSelect" class="u-full-width">
					</select>
					<label th:if="${#fields.hasErrors('instrument')}" th:errors="*{instrument}" class="validation-message"></label>
					
					<label for="influenceBandsSelect">Influence Bands</label> 
					<input type="hidden" id="influenceBandsInput" name="influenceBands" required th:field="*{influenceBands}" >
					<div class="row" id="influenceBandsDiv">
						<div class="one-half column">				
							<select id="influenceBandsSelect" required name="influenceBandsSelect">
								<option>Select 3 influence bands</option>
							</select>
						</div>	
<!-- 						<div class="one-half column"> -->
<!-- 							<button type="button" id="btnAddBand" onclick="addInfluenceBand()">Add</button> -->
<!-- 						</div>	 -->
					</div>
					
					<div class="row" id="influenceBandsSelected"></div>
					<label th:if="${#fields.hasErrors('influenceBands')}" th:errors="*{influenceBands}" class="validation-message"></label>
					
					<label for="descriptionInput">Description</label>
					<textarea id="descriptionInput" maxlength="1400" name="description"
						class="u-full-width" style="resize: none; height: 250px" th:field="*{description}"></textarea>
					<label th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="validation-message"></label>
					
					<button class="button-primary u-full-width" type="submit">AddPost</button>
				</form>
			</div>
		</div>
	</div>
	<script>
		function removeBand(event){
			 var influenceBands = document.getElementById("influenceBandsInput");
			 var array = influenceBands.value.split(',');
			 if(array.length == 1){
				 influenceBands.value = "";
			 } else {
				 array.splice(array.indexOf(event.currentTarget.attributes.idBand.value),1);
				 influenceBands.value = array.toString();
			 }
			 $('#divColumnBand'+event.currentTarget.attributes.idBand.value).remove();
		}
		
		function addInfluenceBand(){
			var bandAlreadySelected = false;
			var influenceBands = document.getElementById("influenceBandsInput");
			var array = influenceBands.value.split(',');
			var combo = document.getElementById("influenceBandsSelect");
			var valueSelected = combo.options[combo.selectedIndex].value;
			var textSelected = combo.options[combo.selectedIndex].text;
			if(array.indexOf(valueSelected)>=0){
				bandAlreadySelected = true;
			}
			if($(".banda").length>=3 || bandAlreadySelected || combo.selectedIndex==0){
				
			} else {
				var lengthBands = $(".banda").length;
				var influenceBands = document.getElementById("influenceBandsInput");
				if(lengthBands!==0){
					influenceBands.value = influenceBands.value + ",";
				}
				var div = $("<div id='divColumnBand" + valueSelected + "' class='banda'></div>")
				var table = $("<table class='u-full-width'></table>");
				var btn = document.createElement("BUTTON");
				var urlImage = "/images/delete.png";
				var tRow = $('<tr width: 15rem>' + 
						"<td class='u-full-width'>" + textSelected + '</td>' + 
						"<td class='u-full-width'>" + "<img style='vertical-align:middle; border-radius:100%' width=50px height=50px src='"+ "/images/"+ textSelected + ".png'>" + "</td>" +
						"<td class='u-full-width'>" + "<button style='background-image:url"+"("+urlImage+"); background-position: center;"+ 
			 			"background-repeat:no-repeat; width: 50px; height: 50px;"+
			 			"background-size: contain; margin-bottom: 0px; vertical-align:middle;' type='button' onclick='removeBand(event)'"+ 
			 			"idBand='" + valueSelected + "'>" +
			 			"</button>" + "</td>" +
				'</tr>');
				table.append(tRow);
				div.append(table);
				$('#influenceBandsSelected').append(div);
				influenceBands.value = influenceBands.value + valueSelected;
			}
		};
		function loadInstruments() {
			var combo = document.getElementById("instruments");
		  	var option = document.createElement("option");
		   	option.text = "Select instrument";
	    	option.value = "-1";
		    combo.add(option);
			$.ajax({
		        type: 'GET',
		        url: '/instruments',
		        cache: false,
		        success: function (result) {
// 		        	var combo = document.getElementById("instruments");
		        	result.forEach(function(instrument){
					    var option = document.createElement("option");
					    option.text = instrument.name;
					    option.value = instrument.id;
					    combo.add(option);
		        	});
		        }
		    });
		};
		function loadInfluenceBands() {
			var influenceBands = document.getElementById("influenceBandsInput");
			influenceBands.value = "";
			$.ajax({
		        type: 'GET',
		        url: '/bands',
		        cache: false,
		        success: function (result) {
		        	var combo = document.getElementById("influenceBandsSelect");
		        	result.forEach(function(band){
					    var option = document.createElement("option");
					    option.text = band.name;
					    option.value = band.id;
					    combo.add(option);
		        	});
		        }
		    });
		};
		var comboInstruments = document.getElementById("instruments");
		comboInstruments.onchange = function(event){
			var instrument = document.getElementById("instrumentInput");
			instrument.value = event.target.value;
		};
		
		//add band on select
		var comboBands = document.getElementById("influenceBandsSelect");
		comboBands.onchange = function(event){
			addInfluenceBand();
		};
		
		
		
		loadInfluenceBands();
		loadInstruments();
	</script>
</body>
</html>