<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Spring Security Example</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/addPost.css}" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="card card-container">
			<form autocomplete="off" th:action="@{/posts}" method="post"
				class="form-signin">
				<select id="instruments" class="form-control" required name="instrument">
					<option>Select instrument</option>
				</select> 
				<textarea id="inputDescription" name="description"
					class="form-control" required maxlength="700"></textarea>
				<button class="btn btn-lg btn-primary btn-block btn-signin"
					type="submit">Add Post</button>
			</form>
			<!-- /form -->
		</div>
		<!-- /card-container -->
	</div>
	<!-- /container -->
	<script>
		function loadInstruments() {
			$.ajax({
		        type: 'GET',
		        url: '/instruments',
		        cache: false,
		        success: function (result) {
		        	var combo = document.getElementById("instruments");
		        	result.forEach(function(instrument){
					    var option = document.createElement("option");
					    option.text = instrument.name;
					    option.value = instrument.id;
					    combo.add(option);
		        	});
		        }
		    });
		}
		loadInstruments();
	</script>
</body>
</html>